body
{   background-image: url('images/gudetama.jpg');
    font-family: 'Courier New', Courier, monospace;
    background-color: black;

}
.btn
{
    background-color: whitesmoke;
    color:black;
    margin-left: 10px  ;
    width: 80px;
    border: black transparent;
    height: 20px;
    font-weight: 600;
    font-family: monospace;
    
}
.btn2{
    background-color: whitesmoke;
    color: black;
    border: black transparent;
    height: 30px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 18px;
}
.btn2:hover{
    background-color: white;
    border:1px dotted darkcyan;
    color: darkcyan   ;
}
.btn:hover{
    background-color: white;
    border:1px dotted darkcyan;
    color: darkcyan   ;
}
li{
    margin-top: 10px;
    font-size: 24px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.inn{
    height: 30px;
}